@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Raleway&display=swap');

$base-size: 12px;
$logo-font: 'Handlee', cursive;
$color-light: #f1f2f6;
$color-dark: #333333;
$color-main: #BD1FDE;
$color-secondary: #40DE1F;
$text-font: 'Raleway', sans-serif;
