@import "../../../styles/settings.scss";

.root {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='2000' height='240' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%234a0445' stroke-width='0.2' stroke-opacity='0.61'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  height: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  opacity: 0.8;
  position: fixed;
  top: 0;
  z-index: 25;
  .Header {
    margin: 0 auto;
    color: $font-color-light;
    text-align: center;
    font-family: $logo-font;
    letter-spacing: 3px;
    font-size: 40px;
    font-weight: 400;
    width: 60vw;
    &:hover {
      color: #b2b0a9;
    }
    &::after {
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      top: 60%;
      margin-top: -8px;
      right: 0;
      background: #f9f9f9;
      transform: translate3d(-100%, 0, 0);
      transition: transform 1s;
      transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
    }
    &:hover::after {
      transform: translate3d(100%, 0, 0);
    }
    &::before {
      content: attr(data-letters);
      position: absolute;
      z-index: 2;
      overflow: hidden;
      color: #424242;
      white-space: nowrap;
      width: 0%;
      transition: width 0.5s 0.5s;
    }
    &:hover::before {
      width: 100%;
    }
  }
}
